
/* ---- buy buttons ---- */

.buy-button {
  background: hsla(0, 0%, 0%, 0.04);
}

.buy-button__price {
  background: #F80;
}

.buy-button:hover { text-decoration: none; }

.buy-button:hover .buy-button__price {
  background: #08F;
}

/* ---- site-footer ---- */

*[data-license-property] {
  color: #08F;
}

/* ---- site-footer ---- */

.site-footer {
  background: #F80;
  position: relative;
  z-index: 1; /* above site-nav */
}

/* ---- showcase ---- */

.showcase-item__link {
  background: white;
}

.showcase-item__link:hover {
  background: #D28;
  color: white;
}

/* ---- site-footer ---- */

.site-footer__copy a { color: white ;}

.site-footer .twitter-logo { fill: white; }

.site-footer__copy a:hover {
  color: #555;
  text-decoration: none;
}

.site-footer__copy a:hover .twitter-logo { fill: #555; }

/* ----  ---- */

.showcase .logo-pizza-illo { background: white; }
.showcase .packery-illo { background: white; }

/* ---- fizzy-bear-shirt ---- */


.fizzy-bear-shirt__link {
  padding: 20px;
  background: white;
  border-radius: 8px;
  display: block;
}

.fizzy-bear-shirt__title {
  margin-top: 0;
  font-size: 1.8rem;
}

.fizzy-bear-shirt__image { border-radius: 5px; }

.fizzy-bear-shirt__link:hover {
  background: #D28;
  color: white;
  text-decoration: none;
}


/* ---- metafizzy-brand ---- */

.metafizzy-logo {
  margin-right: 5px;
}

.metafizzy-wordmark {
}

.metafizzy-brand__link {
  display: inline-block;
}

.metafizzy-wordmark path,
.metafizzy-logo__outline,
.metafizzy-logo__eyes-nose { fill: white; }

.metafizzy-logo__snout,
.metafizzy-logo__stripe1,
.metafizzy-logo__stripe2,
.metafizzy-logo__stripe3,
.metafizzy-logo__stripe4 { fill: #F80; }

.metafizzy-brand__link:hover { text-decoration: none; }

.metafizzy-brand__link:hover .metafizzy-wordmark path,
.metafizzy-brand__link:hover .metafizzy-logo__outline,
.metafizzy-brand__link:hover .metafizzy-logo__eyes-nose { fill: #555; }

.metafizzy-brand__link:hover .metafizzy-logo__stripe1 { fill: #D28; }
.metafizzy-brand__link:hover .metafizzy-logo__stripe2 { fill: #F00; }
.metafizzy-brand__link:hover .metafizzy-logo__stripe3 { fill: #F80; }
.metafizzy-brand__link:hover .metafizzy-logo__stripe4 { fill: #08F; }

.metafizzy-brand__link:hover .metafizzy-logo__snout { fill: white; }

@media screen and ( min-width: 768px ) {
  .metafizzy-logo {
    width: 60px;
    margin-right: 10px;
  }

  .metafizzy-wordmark {
    width: 230px;
  }
}
