/* fizzy-docs-modules overwrites
------------------------- */

/* ---- site-footer ---- */

.site-footer {
  background: #F80;
  position: relative;
  z-index: 1; /* above site-nav */
}

.site-footer a:hover {
  text-decoration: none;
}

.site-footer__copy a { color: white ;}

.site-footer .twitter-logo { fill: white; }

.site-footer__copy a:hover {
  color: #555;
  text-decoration: none;
}

.site-footer__copy a:hover .twitter-logo { fill: #555; }

/* ---- showcase ---- */

.showcase-item__link {
  background: white;
}

.showcase-item__link:hover {
  background: #D28;
  color: white;
}

.showcase .logo-pizza-illo { background: white; }
.showcase .packery-illo { background: white; }

/* ---- mfzy-brand ---- */

/* logo */
.site-footer .mfzy-logo__body-outline,
.site-footer .mfzy-logo__cut-ins { stroke: white; }
.site-footer .mfzy-logo__body-fill { fill: #F80; }
.site-footer .mfzy-logo__snout,
.site-footer .mfzy-logo__stripes { display: none; }
.site-footer .mfzy-logo__feature { fill: white; }

/* logo hover */
.site-footer a:hover .mfzy-logo__body-outline,
.site-footer a:hover .mfzy-logo__cut-ins { stroke: #333; }
.site-footer a:hover .mfzy-logo__snout,
.site-footer a:hover .mfzy-logo__stripes { display: inline; }
.site-footer a:hover .mfzy-logo__feature { fill: #333; }

/* wordmark */
.site-footer .mfzy-wordmark { stroke: white; }
.site-footer a:hover .mfzy-wordmark { stroke: #333; }


@media screen and ( min-width: 768px ) {
  .site-footer .mfzy-logo {
    width: 72px;
    height: 72px;
  }

  .site-footer .mfzy-wordmark {
    width: 280px;
    height: 80px;
  }
}
