/* button
------------------------- */

.button {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  margin: 0 10px 10px 0;
  background-color: #F8F8F8;
  background-image: linear-gradient( hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1) );
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: #08F;
  color: white;
}

.button:active {
  background-color: #06D;
  box-shadow: inset 0 2px 5px hsla(0, 0%, 0%, 0.3);
  color: white;
}

.button-row {
}
