<nav class="site-nav" data-js="site-nav">
  <ul class="site-nav__list">
    <li class="site-nav__item site-nav__item--index"><a href="{{page.rootPath}}.">Huebee</a></li>
    <li class="site-nav__item site-nav__item--extras"><a href="{{page.rootPath}}extras.html">Extras</a></li>
  </ul>
  <ul class="page-nav"></ul>
</nav>
