/* site-nav
------------------------- */

.site-nav__list {
  padding: 0;
  list-style: none;
}

.site-nav__item {
  display: inline-block;
}

.site-nav__item:after {
  content: ' • '
}

.site-nav__item:last-child:after {
  content: none;
}

.page--index .site-nav__item--index a,
.page--extras .site-nav__item--extras a,
.page--license .site-nav__item--license a {
  color: #08F;
}

@media screen and (min-width: 1200px) {
  .site-nav {
    width: 200px;
    position: absolute;
    left: 1000px;
    top: 0px;
  }

  .site-nav.is-fixed {
    position: fixed;
  }

  .site-nav__item {
    display: block;
  }

  .site-nav__item:after {
    content: none;
  }

}
