/* big-buttons
------------------------- */

.big-buttons-container:after {
  content: '';
  display: block;
  clear: both;
}

.big-button {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
  line-height: 1.0;
}

.big-button:hover { text-decoration: none; }

.big-button--fill {
  background-image: linear-gradient( hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.15) );
}

.big-button:last-child { margin-right: 0; }

.big-button__plain-text {
  display: block;
}

.big-button__strong-text {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
}

.big-button--outline {
  border: 2px solid;
}

@media screen and ( min-width: 768px ) {
  .big-button {
    float: left;
    width: 32%;
    margin-right: 2%;
  }

}