<div>
  <span class="set-bg-swatch set-bg-elem"></span>
  <span class="set-bg-swatch set-bg-elem"></span>
  <span class="set-bg-swatch set-bg-elem"></span>
</div>
<input class="demo-input set-bg-elem" value="#F00"
  data-huebee='{ "setBGColor": ".set-bg-elem", "staticOpen": true }' />
