<header class="hero" data-js="hero">
  <div class="container">
    <div class="hero__masthead">
      {{> huebee-logo}}
      <div class="hero__masthead__content">
        <h1 class="hero__title color2-text">Huebee</h1>
        <p class="hero__tagline color1-text">One-click color picker</p>
        <div class="hero__pickers">
          {{#each paletteColors}}
            {{> hero-picker color=this}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</header>
