/* hero
------------------------- */

.hero {
  padding: 20px 0;
}

/* clearfix */
.hero__masthead:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- logo ---- */

.hero .huebee-illo {
  width: 60px;
  height: auto;
  float: left;
  margin-right: 10px;
}

.hero .huebee-illo__stripe1 { fill: #D28; }
.hero .huebee-illo__stripe2 { fill: #F00; }
.hero .huebee-illo__stripe3 { fill: #F80; }
.hero .huebee-illo__stripe4 { fill: #08F; }
.hero .huebee-illo__line { stroke: #555; }

/* ----  ---- */

.hero__title {
  font-size: 2.5rem;
  line-height: 0.75;
  margin: 0;
}

.hero__tagline {
  font-size: 1.2rem;
  margin: 0 0 20px;
}

.hero__pickers {
  margin-bottom: 20px;
}

/* ----  ---- */

@media screen and ( min-width: 768px ) {

  .hero {
    padding: 40px 0;
  }

  .hero .huebee-illo {
    width: 280px;
    margin: 0 10px;
  }

  .hero__masthead__content {
    padding-left: 300px;
  }

  
  .hero__title {
    font-size: 5.0rem;
    padding-top: 10px;
  }

  .hero__tagline {
    font-size: 2.0rem;
    margin: 0 0 20px;
  }

}
