<div>
  <span class="set-text-swatch set-text-elem"></span>
  <span class="set-text-swatch set-text-elem"></span>
  <span class="set-text-swatch set-text-elem"></span>
</div>
<input class="demo-input set-text-elem" value="#F00"
  data-huebee='{ "setText": ".set-text-elem", "staticOpen": true }' />
