/* custom-style
------------------------- */

.huebee--custom-style {
  transition: none; /* disable reveal/hide transition */ 
}

.huebee--custom-style .huebee__container {
  top: 20px;
  background: #777;
  border: 5px solid #222;
  border-radius: 0;
}

.huebee--custom-style .huebee__cursor {
  border: 5px solid #19F;
}

.huebee--custom-style .huebee__close-button {
  background: red;
}

.huebee--custom-style .huebee__close-button__x {
  stroke-width: 2;
}
