<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Huebee</title>

  {{#each cssPaths}}
    <link rel="stylesheet" href="../{{this}}" />
  {{/each}}

  {{> palette-styles}}

</head>
<body class="color4-text color5-bg">

{{#block "main"}}{{/block}}

{{#each jsPaths}}
  <script src="../{{this}}"></script>
{{/each}}

</body>
</html>
