<div class="classname-field">
  <input class="demo-input" data-huebee='{ "className": "huebee--classname-style-dark", "staticOpen": true, "hues": 8 }' />
</div>
<div class="classname-field">
  <input class="demo-input" data-huebee='{ "className": "huebee--classname-style-light", "staticOpen": true, "hues": 8 }' />
</div>
