<header class="site-header color2-bg color4-text">
  <div class="container">
    <h1 class="site-header__title">
      <a class="site-header__home-link color5-text color3-text-hover" href=".">
        {{> huebee-illo}}
        Huebee
      </a>
      {{page.title}}
    </h1>
  </div>
</header>
