* { box-sizing: border-box; }

/* rem font sizing */
html {
  font-size: 19px;
}

/* font */
body, input, button {
  font-family: Texta, sans-serif;
}

body {
  line-height: 1.35;
}

/* ---- headers ---- */

h2 { font-size: 2.0rem; }

h3 { font-size: 1.4rem; }

/* ----  ---- */

ul, ol {
  padding-left: 25px;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* ---- code ---- */

pre, code, kbd {
  font-family: Consolas, Menlo, monospace;
  font-size: 15px;
  background: hsla(0, 0%, 0%, 0.04);
  white-space: pre-wrap;
}

pre {
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

code, kbd {
  padding: 2px 3px;
  line-height: 1.2;
  border-radius: 3px;
}

pre code {
  padding: 0;
  line-height: 1.5;
  background: none;
  border: none;
}

/* ---- container ---- */

.container {
  padding: 0 40px;
  max-width: 1000px;
}
