
/* ---- buy buttons ---- */

.buy-button {
  background: hsla(0, 0%, 0%, 0.04);
}

.buy-button__price {
  background: #F80;
}

.buy-button:hover { text-decoration: none; }

.buy-button:hover .buy-button__price {
  background: #08F;
}

/* ---- site-footer ---- */

.site-footer {
  background: #F80;
}

/* ---- showcase ---- */

.showcase-item__link {
  background: white;
}

.showcase-item__link:hover {
  background: #D28;
  color: white;
}

/* ----  ---- */

.site-footer__copy a { color: white ;}

.site-footer__twitter-icon { fill: white; }

.site-footer__copy a:hover {
  color: #555;
  text-decoration: none;
}

.site-footer__copy a:hover .site-footer__twitter-icon { fill: #555; }
